/* IMPOSTAZIONI GENERALI */
html {
  font-size: 62.5%;
}
body {
  font-family: Poppins, "Helvetica Neue", sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  padding: 15px;
  background-image: url("../img/sfondo.png");
  background-position: center center;
  width: 100%;
  min-width: 320px;
  max-width: 570px;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
}
* {
  box-sizing: border-box;
}

/* HEADER */
header {
  background: rgb(0, 160, 198);
  background: linear-gradient(
    180deg,
    rgba(0, 160, 198, 1) 0%,
    rgba(3, 109, 134, 1) 68%
  );
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  box-shadow: 0 3px 3px #444;
  margin-bottom: 1.5em;
  padding: 2em 1.5em;
}
header div img {
  margin-bottom: 20px;
}
header nav ul {
  margin: 0;
}
header nav li {
  list-style: none;
  display: inline-block;
  padding: 1.2%;
}
header nav li a {
  color: white;
  text-decoration: none;
}
header nav li a:hover {
  color: red;
}
header nav li a::before {
  content: "\22c6\0020";
}

/* MAIN */
main {
  background-color: #fff;
  box-shadow: 0 3px 3px #444;
  padding: 2em 1em;
  margin-bottom: 1.5em;
}
section {
  background-color: #e3e3e3;
  padding: 1em;
  margin-bottom: 2em;
}
section h2 {
  text-align: center;
  color: #333;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1em;
  background-color: #a3a3a3;
}

/* ELEMENTI NEL MAIN - ARTICLE */
h1 {
  font-size: 3.3rem;
  font-weight: bold;
  letter-spacing: -0.03em;
  margin-bottom: 0.7em;
}
p,
address,
ul,
ol,
dl,
blockquote {
  margin-bottom: 1.2em;
}
h1 + p {
  color: #a0a0a0;
}
ul,
ol {
  margin-left: 2em;
}
a {
  color: #00a0c6;
  font-weight: bold;
}
strong {
  color: #a02571;
  font-weight: bold;
}
code {
  background-color: #e3e3e3;
  border: 1px solid #969494;
  border-radius: 5px;
}
iframe {
  width: 100%;
  height: auto;
  margin-bottom: 2em;
  border-radius: 20px;
}

/* TABELLE */
table {
  margin-bottom: 2em;
}
caption {
  font-weight: bold;
  font-style: italic;
}
thead tr {
  background-color: #3f6bca;
  color: #ffffff;
}
th,
td {
  padding: 12px 15px;
  vertical-align: bottom;
  text-align: center;
}
tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #3f6bca;
}

/* FORM */
input {
  padding: 5px;
  border: 0;
  border-bottom: 1px dashed #333;
  width: 45%;
}
button {
  padding: 4px 7px;
  background-color: #3f6bca;
  border: 0;
  color: white;
  font-weight: bold;
  width: 20%;
}

/* ELEMENTI NELL' ASIDE */
aside h2 {
  text-align: center;
  color: #333;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1em;
}
aside div {
  background-color: #e3e3e3;
  border: 1px solid #c3c3c3;
  margin-bottom: 1em;
  padding: 1em;
}
aside div p:last-child {
  margin-bottom: 0;
  font-size: 0.8em;
  text-align: right;
}

/* FOOTER */
footer {
  background: rgb(53, 53, 53);
  background: linear-gradient(
    0deg,
    rgba(53, 53, 53, 1) 0%,
    rgba(5, 85, 103, 1) 68%
  );
  box-shadow: 0 3px 3px #444;
  color: #f0f0f0;
  padding: 1em;
  text-align: center;
  font-size: 1.7rem;
  display: inline-block;
}
footer a {
  color: fuchsia;
}
main > article > div > img {
  border: solid 5px rgb(0, 162, 255);
  padding: 1%;
  outline: solid 5px rgb(183, 0, 255);
}
table {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 570px) {
  body {
    max-width: 768px;
    max-height: 100%;
  }
  h1 {
    font-size: 370%;
  }
  main > article > h2 {
    font-weight: bold;
    font-size: 130%;
  }
  input {
    width: 72%;
    height: 3.7vh;
  }
  button {
    height: 3.7vh;
    width: 15%;
  }
  table {
    width: 70%;
  }
  header > div > p {
    font-size: 145%;
  }
  header > nav > ul > li > a {
    font-size: 145%;
  }
  main > article > p,
  i {
    font-size: 130%;
  }
  main li {
    font-size: 120%;
  }
  section > p {
    font-size: 140%;
  }
}
@media screen and (min-width: 768px) {
  body {
    max-width: 1200px;
    max-height: 100%;
  }
  h1 {
    font-size: 520%;
  }
  main > article > h2 {
    font-weight: bold;
    font-size: 160%;
  }
  input {
    width: 72%;
    height: 4.4vh;
  }
  button {
    height: 4.5vh;
    width: 15%;
  }
  table {
    width: 70%;
  }
  header > div > p {
    font-size: 155%;
  }
  header > nav > ul > li > a {
    font-size: 155%;
  }
  main > article > p,
  i {
    font-size: 170%;
  }
  main li {
    font-size: 155%;
  }
  footer {
    font-size: 2.4rem;
  }
  section > p {
    font-size: 190%;
  }
}
@media screen and (min-width: 1200px) {
  body {
    max-width: 2500px;
    max-height: 100%;
  }
  h1 {
    font-size: 490%;
  }
  main > article > h2 {
    font-weight: bold;
    font-size: 180%;
  }
  table {
    width: 70%;
  }
  header > div > p {
    font-size: 155%;
    display: inline-block;
  }
  header > nav > ul > li > a {
    font-size: 155%;
    display: inline-block;
  }
  main > article > p,
  i {
    font-size: 170%;
  }
  main li {
    font-size: 160%;
  }
  footer {
    font-size: 3.5rem;
  }
  main > article iframe {
    width: 50%;
  }
  main > article section {
    width: 50%;
  }
  .iFrameEform {
    display: flex;
  }
  aside h2 {
    font-size: 210%;
  }
  aside div {
    display: flex;
    height: 210px;
    align-items: center;
    justify-content: center;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0;
  }
}
